/* Nav bar */
.navbar {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 28px 111px;
    /*gap: 220px;*/

    position: absolute;
    width: 100vw;
    height: 104px;
    left: 0px;
    top: 0px;
}

.menu {
    /* Menu */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;

    margin: 0;
    width: 435px;
    height: 26px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.frame {
    /* Frame 2 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 94px;
    height: 26px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.marketplace {
    /* Marketplace */
    width: 100%;
    text-align: center;
    height: 26px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: rgba(255, 255, 253, 0.72);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
    cursor: pointer;
}

.marketplace::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #D6EF0E;
    transition: width 0.3s ease;
}

.marketplace:hover::after {
    width: 100%;
}

.artists {
    /* Artists */
    position: relative;
    width: 50px;
    height: 26px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 253, 0.72);
    flex: none;
    order: 1;
    flex-grow: 0;
    transition: color 0.3s ease;
    cursor: pointer;
}

.artists::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #D6EF0E;
    transition: width 0.3s ease;
}

.artists:hover {
    color: #FFFFFF;
}

.artists:hover::after {
    width: 100%;
}



.community {
    /* Community */
    position: relative;
    width: 87px;
    height: 26px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 253, 0.72);
    flex: none;
    order: 2;
    flex-grow: 0;
    cursor: pointer;
    transition: color 0.3s ease;
}

.community::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #D6EF0E;
    transition: width 0.3s ease;
}

.community:hover {
    color: #FFFFFF;
}

.community:hover::after {
    width: 100%;
}

.collections {
    /* Collections */
    position: relative;
    width: 84px;
    height: 26px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 253, 0.72);
    flex: none;
    order: 3;
    flex-grow: 0;
    cursor: pointer;
    transition: color 0.3s ease;
}

.collections::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #b8cc19;
    transition: width 0.3s ease;
}

.collections:hover {
    color: #FFFFFF;
}

.collections:hover::after {
    width: 100%;
}

.cta {
    /* CTA */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 40px;
    gap: 10px;

    margin: 0;
    width: 143px;
    height: 48px;

    background: #96a615;
    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.contact {
    /* Contact */

    width: 63px;
    height: 19px;

    /* H5 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    display: flex;
    align-items: center;

    color: white;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}